*{border:0; margin:0; padding:0;
	box-sizing: border-box;
	font-weight: lighter;
	color: white;
}

/* 	==============
	global styles
	============== */

.body {
	overflow-x: hidden;
	background-color: #130f40;
	background-image: radial-gradient(#130f40, #000000);
}

.background {
	background-color: #04030c;
}

/* 	===========
	typography
	=========== */

@font-face {
	font-family: Aileron-Thin;
	src: url(Aileron-Thin.otf);
}

@font-face {
	font-family: khand;
	src: url(khand.ttf);
}

@font-face {
	font-family: gunny-rewritten;
	src: url(gunny-rewritten.ttf);
}

@font-face {
	font-family: just-signature;
	src: url("just-signature.ttf");
}

@font-face {
	font-family: whatever-it-takes;
	src: url("whatever-it-takes.ttf");
}

@font-face {
	font-family: Artfully;
	src: url("Artfully.ttf");
}

@font-face {
	font-family: Andragogy;
	src: url("Andragogy.ttf");
}

@font-face {
	font-family: AmanahGuru;
	src: url("AmanahGuru.ttf");
}

@font-face {
	font-family: LiberationMono;
	src: url("LiberationMono.ttf");
}

@font-face {
	font-family: Allura;
	src: url(Allura.ttf);
}

/* 	============
	main layout
	============ */

/* HEADER */
.header {
	height:100vh;
	background-image: radial-gradient(#130f40, #000000);
}

	.header-words {
		font-size: 2.5em;
		font-family: AmanahGuru;
		color: white;
		display:flex;
		flex-direction:column;
		position:absolute;
		top:52vh;
		left:50vw;
		margin:0;
	}

	#anna-header1 {
		font-size:2.8em;
		line-height: 0.8em;
		letter-spacing: .01em;
		font-weight: lighter;

		animation: fadeIn linear 7s;
		-webkit-animation: fadeIn linear 7s;
		-moz-animation: fadeIn linear 7s;
		-o-animation: fadeIn linear 7s;
		-ms-animation: fadeIn linear 7s;
	}

	@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}

	@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}

	@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}

	#software-engineer {
		font-family: 'Courier New', Courier, monospace;
		font-size: 0.8em;
		padding-left: 5.3rem;
		padding-top: 0;
		display: inline-block;
		width: auto;

		visibility:hidden;
		overflow: hidden; /* Ensures the content is not revealed until the animation */
		border-right: .15em solid transparent; /* The typwriter cursor */
		white-space: nowrap; /* Keeps the content on a single line */
		margin: 0 auto; /* Gives that scrolling effect as the typing happens */
		letter-spacing: .15em; /* Adjust as needed */
		animation: typing 3.5s steps(17, end), blink-caret .75s step-end 8;
		animation-delay: 2s;
		animation-fill-mode: forwards;
		
	}
	
	/* The typing effect */
	@keyframes typing {
		from { width: 0 }
		to { width: 100% }
	}
	
	/* The typewriter cursor effect */
	@keyframes blink-caret {
		0% {visibility:visible}
		from, to { border-color: transparent }
		50% { border-color: white;}
		100% {visibility: visible;}
	}
/* NAVIGATION BAR */
.nav-bar {
	display:flex;
	justify-content: space-around;
	padding-top:0.5em;
	padding-bottom: 0.25em;
	background-color: #130f40;
	background-image: linear-gradient(#000000, #151142, #000000);
	color: white;
	position:sticky;
	top:0;
	font-family: 'Courier New', Courier, monospace;
	font-size: 25px;
}

	a:link {
	text-decoration: none;
	color:white;
	}

	a:visited {
	text-decoration: white;
	}

	a:hover {
	text-decoration: underline;
	}

	a:active {
	text-decoration: underline white;
	}

	.logo {
		font-family: AmanahGuru;
		font-size: 3.5em;
		margin-left: -1.5em;
		margin-right: -5em;
		padding-top: 0.25em;
		font-size: 0.9em;
	}


/* MAIN PAGE SECTIONS */
	.main-page-sections {
		display:flex;
		flex-direction:row;
		padding:1em;
		background-color: #130f40;
		font-family: 'Courier New', Courier, monospace;
		border:1px solid black;
		height:75vh;
		width:96vw;
		margin:1.25%;
		margin-bottom: 5%;
		height:85vh;
		overflow-x: hidden;
		overflow-y:hidden;
		color: white;
	}

	.heading-for-main-sections {
		display: flex;
		flex-direction: column;
		border: 2px solid white;
		text-align: center;
		justify-content: center;
		align-items: center;
		width: 45vw;
		font-size: 2.5em;
	}

	.img-div-to-left {
		display: flex;
		border: 2px solid white;
		height: 100%;
		width: 50vw;
		justify-content: center;
	}

	.img-div-to-right {
		display: flex;
		border: 2px solid white;
		width:50vw;
		justify-content: center;
		width: 60vw;
		height: 100%;
	}

	.img-div {
		height:100%;
		justify-content: center;
	}

/* 	===============
	pages sections
	=============== */
.pages-style {
	background-color: #130f40;
	background-image: radial-gradient(#130f40, #000000);
	min-height: 100vh;
	display: none;
}

.page-headings {
	display: flex;
	justify-content: center;
	top: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 3em;
}

/* 	==============
	pages divs
	============== */

/* ABOUT */

.words-on-about-page {
	background-color: rgba(16,13,53,0.5);
	background-image: radial-gradient(rgba(16,13,53,1), #0000008c);
	min-height: 100vh;
	width: 98.5vw;
	padding-top: 15vh;
	padding-left: 3.75em;
	padding-right: 3.75em;
	padding-bottom: 1.25%;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.25em;
	line-height: 1.7;
	letter-spacing: 2.5px;
	text-align: center;
	align-items: center;
}

.words-on-about-page > p {
	margin-bottom: 0.65em;
}

.tldr-heading {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: larger;
}

#no-bottom-margin {
	margin-bottom: 0;
}

#no-top-padding {
	padding-top: 0;
}

.footnote {
	font-size: small;
	padding-top: 3.5em;
	margin-bottom: 0;
}

.bold-text {
	font-weight: bold;
}

.larger-text {
	font-size: larger;
}

.italic-text {
	font-style: italic;
}

.part-1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: smaller;
	padding-top:-5;
}

#first-banner-about {
	padding-top: 3.1em;
}

#about-me {
	font-family: Aileron-Thin;
	font-size: 1.5em;
	padding-top: 42vh;
	height: 92vh;
}

#third-blurb {
	padding-top: 7em;
}

#fourth-blurb {
	padding-top: 1.5em;
	padding-left: 1em;
	padding-right: 1em;
	/* font-size: 1.225em; */
	line-height: 1.5em;
}

#fourth-blurb > p {
	margin-bottom: 0.65em;
}

#reduced-top-padding {
	padding-top: 2em;
}

#quote-font {
	padding-left: 0em;
	padding-right: 0em;
	font-family: whatever-it-takes;
	font-size: 1.75em;
	letter-spacing: 0.15em;
	line-height: 1em;
}

.blank-div {
	height: 100vh;
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.first-pic {
	/* background-color:rgba(255,255,255,0.1); */
	background-image: url("bench.jpg");
}

.second-pic {
	background-image: url("mukuvisi1.JPG");
}

.third-pic {
	background-image: url("piano.jpeg");
}

.fourth-pic {
	background-image: url("autumn.JPG");
}

.fifth-pic {
	background-image: url("garden.jpeg");
}

.banner-img {
	width: 98.5vw;
}

/* PROJECTS */
.projects-home-page {
	padding-top: 17%;
}

.projects-div-page {
	display:flex;
	flex-wrap: wrap;
	gap:6em;
	margin-top: 2%;
	margin-left: 6%;
	padding-bottom: 1.25%;
	width:91vw;
}

.projects-page-imgs {
	width: 23vw;
	border-radius: 25px;
	box-shadow: 1px 1px 20px 10px rgba(255, 255, 255, 0.4);
}

.projects-page-imgs:hover {
	transform: scale(1.1);
}

.projects-titles {
	text-align: center;
	font-family: 'Montserrat Alternates', sans-serif;
	line-height: 3.5;
	letter-spacing: 0.2em;
}

.photo-credits {
	text-align: center;
	font-family: Aileron-Thin;
	font-size: 12px;
	letter-spacing: 1.5px;
}

.reduced-line-height {
	line-height: 1.5;
	padding-top: 2%;
}

/* CONTACT */
.contact-page {
	min-height: 80vh;
	display:flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
}

.contact-headings > p {
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.2em;
	padding-left: 25%;
}

.contact-img {
	border-radius: 25px;
	box-shadow: 1px 1px 20px 10px rgba(255, 255, 255, 0.4);
}

/* FOOTER */
.footer-class {
	display:flex;
	flex-direction: column;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:3vh;
	color: black;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding-bottom:1%;
	padding-top: 0.5%;
}

.footer-class > p {
	color:#000000;
}

#amdg {
	font-style: italic;
}