*{border:0; margin:0; padding:0;
	/* background-color: rgb(185, 125, 185); */
	/* overflow-x: hidden; */
	box-sizing: border-box; 
}

.body {
	/* position:relative; */
	overflow-x: hidden;
	background-color: rgb(185, 125, 185);
}

.background {
	background-color: rgb(175, 134, 175);
}

.header {
	width:99vwvw;
	height:100vh;
	background-image:url('purple-background.jpg');
	/* background-color: rgb(59, 4, 59); */
	background-size:cover;
	background-repeat:no-repeat;
}

#header-words {
	font-family: 'Courier New', Courier, monospace;
	color:silver;
	/* background-color: none; */
	display:flex;
	flex-direction:column;
	position:absolute;
	top:50vh;
	right:8vw;
}

.nav-bar {
	display:flex;
	justify-content: space-around;
	padding-top:0.5em;
	padding-bottom:0.5em;
	background-color: rgb(150, 89, 150);
	position:sticky;
	top:0;
	justify-content: space-around;
	font-family: 'Courier New', Courier, monospace;
	font-size: 25px;
}


/* .nav-section {
	display:flex;
	flex-direction:column;
	justify-content: space-evenly;
	padding:1em;
	background-color: rgb(124, 75, 124);
	font-family: 'Courier New', Courier, monospace;
	font-size: 25px;
} */

#projects-span {
	border:1px solid black;
	margin:0.75%;
	height:75vh;
	width:96vw;
	overflow-y:hidden;
	overflow-x:hidden;
	justify-content:left;
}

#about-span {
	border:1px solid black;
	height:75vh;
	width:96vw;
	margin:0.75%;
	height:max-content;
	overflow-y:hidden;
	text-align:right;
}

#resume-span {
	border:1px solid black;
	height:75vh;
	width:96vw;
	margin:0.75%;
	overflow-y:hidden;
	justify-content:left;
}

#contact-span {
	border:1px solid black;
	height:75vh;
	width:96vw;
	margin:0.75%;
	overflow-y:hidden;
	overflow-x: hidden;
	justify-content:right;
}
