*{border:0; margin:0; padding:0;
	/* overflow-x: hidden; */
	box-sizing: border-box;
	font-weight: lighter;
	color: white;
}

.body {
	/* position:relative; */
	overflow-x: hidden;
	background-color: #130f40;
	background-image: radial-gradient(#130f40, #000000);
}

.background {
	background-color: #130f40;
	background-image: radial-gradient(#130f40, #000000);
	color: white;
}

.header {
	width:99vwvw;
	height:100vh;
	/* background-image:url('purple-background.jpg');
	background-size:cover;
	background-repeat:no-repeat; */
	
	/* CHOICE 1 - LIKE A LIGHTER GREY ISH: */
	/* background-color: #485461;
	background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */

	/* background-color: #2b1331;
	background-image: linear-gradient(315deg, #2b1331 0%, #b9abcf 74%); */
	
	/* background-color: #4d4855;
	background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%); */


	/* MOVING BLACK: */
	/* background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #434343 74%); */

	/* ANOTHER BLACK: */
	/* background-color: #2d3436;
	background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); */

	/* LOVELY BLUE: PROBS THIS ONE */
	/* background-color: #130f40;
	background-image: linear-gradient(135deg, #130f40 5%, #000000 44%, #130f40); */

	background-color: #130f40;
	background-image: radial-gradient(#130f40, #000000);

		
}

.header-words {
	font-family: khand;
	src: url(khand.ttf);
	font-size: 2.5em;
	color: white;
	font-weight: lighter;
	/* background-color: white; */
	display:flex;
	flex-direction:column;
	position:absolute;
	top:40vh;
	left:45vw;
}

#software-engineer {
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.8em;
	left: 50vw;
}

.nav-bar {
	display:flex;
	justify-content: space-around;
	padding-top:0.5em;
	padding-bottom:0.5em;
	background-color: #130f40;
	background-image: linear-gradient(#000000, #151142, #000000);
	color: white;
	position:sticky;
	top:0;
	justify-content: space-around;
	font-family: 'Courier New', Courier, monospace;
	font-size: 25px;
}

	a:link {
	text-decoration: none;
	color:white;
	}

	a:visited {
	text-decoration: white;
	}
  
  a:hover {
	text-decoration: underline;
	}
  
  a:active {
	text-decoration: underline white;
	}




/* .nav-section {
	display:flex;
	flex-direction:column;
	justify-content: space-evenly;
	padding:1em;
	background-color: rgb(124, 75, 124);
	font-family: 'Courier New', Courier, monospace;
	font-size: 25px;
} */

#projects-span {
	border:1px solid black;
	margin:1.25%;
	height:75vh;
	width:96vw;
	overflow-y:hidden;
	overflow-x:hidden;
	justify-content:left;
}

#about-span {
	border:1px solid black;
	height:75vh;
	width:96vw;
	margin:1.25%;
	margin-top: 5%;
	height:max-content;
	overflow-y:hidden;
	text-align:right;
}

#resume-span {
	border:1px solid black;
	height:75vh;
	width:96vw;
	margin:1.25%;
	margin-top: 5%;
	overflow-y:hidden;
	justify-content:left;
}

#contact-span {
	border:1px solid black;
	height:75vh;
	width:96vw;
	margin:1.25%;
	margin-top: 5%;
	overflow-y:hidden;
	overflow-x: hidden;
	justify-content:right;
}

.footer-class {
	display:flex;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:3vh;
	justify-content: center;
	margin-top: 5%;
}
